/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=VT323&display=swap");

/* Font Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  display: grid;
  place-content: center;
  background: #000 url("./img/background.webp") no-repeat fixed center;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  font-family: "VT323", monospace;
  font-size: 4em;
  text-align: center;
  background-color: #000;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-bottom: 0.5em;
  padding: 0 0.25em;
}

.album-art {
  width: 100px;
  margin-right: 0.5em;
}

.artist-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0.5em 0;
}

.artist-search:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
  background-color: #eee;
}

.artist {
  margin: 0.5em 0 0.25em;
}

.artist-search-name {
  flex-grow: 1;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 0 0.5em;
  text-align: left;
}

.footer {
  text-align: center;
}

.link {
  text-decoration: none;
}

.game-header {
  display: flex;
  margin-bottom: 1em;
  opacity: 0.9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
}

.game-songs {
  display: flex;
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

.game-songs:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
  background-color: #fff;
}

.guess-round {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    rgb(95, 25, 65) 0%,
    rgb(75, 50, 100) 50%,
    rgb(0, 0, 0) 100%
  );
  color: #fff;
  padding: 0.5em;
  border-radius: 4px;
  margin: 0em 0.5em;
}

.round {
  font-weight: normal;
}

.question-background:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
  background-color: #eee !important;
  color: rgb(0, 0, 0);
}

.footer {
  margin: 2em 0 1em 0;
}

.spotify-logo {
  width: 4em;
  vertical-align: text-bottom;
}

p {
  font-size: 1.1em;
}

sup {
  font-size: 0.75em;
}
