/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=VT323&display=swap");

/* Font Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  display: grid;
  place-content: center;
  background: #000 url("./img/background.webp") no-repeat fixed center;
  background-size: cover;
  min-height: 100vh;
}

.logo-font {
  font-family: "VT323", monospace;
  font-size: 4.8em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: transparent;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-bottom: 0.5em;
}

.album-art {
  width: 100px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 1em;
}

.artist-search {
  display: flex;
  cursor: pointer;
  margin: 0.5em 0;
}

.artist-search:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.25);
  background-color: #eee;
}

.footer {
  text-align: center;
}

.link {
  text-decoration: none;
}
